
.btn {
   display: inline-block;
   border: 1px solid #dedede;
   border-radius: 24px;
   background-color: #dedede;
   color: #b8b8b8;
   font-size: 1rem;
   line-height: 1.25rem;
   font-weight: 600;
   text-decoration: none;
   padding: 13px 2rem;
   white-space: nowrap;
   cursor: pointer;
   transition: all 0.2s;
   &:hover {
      border-color: #b8b8b8;
      background-color: #b8b8b8;
      color: #ffffff;
   }
   &-primary {
      border: 1px solid $primary-color;
      background-color: $primary-color;
      color: #ffffff;
      &:hover {
         border-color: darken($primary-color, 10%);
         background-color: darken($primary-color, 10%);
      }
   }

   &-danger {
      border: 1px solid $danger-color;
      background-color: $danger-color;
      color: #ffffff;
      &:hover {
         border-color: darken($danger-color, 10%);
         background-color: darken($danger-color, 10%);
      }
   }

   &-grey {
      background-color: $grey-color;
      border: $grey-color;
      color: #000;
      &:hover {
         background-color: darken($grey-color, 10%);
         color: #000;
      }
   }
}


// .btn {
//    display: inline-block;
//    line-height: 1.5;
//    text-align: center;
//    text-decoration: none;
//    vertical-align: middle;
//    cursor: pointer;
//    user-select: none;
//    background-color: red;
//    font-family: 'Futura PT';
//    font-size: 1rem;
//    padding: .75rem 3rem;
//    border: 1px solid transparent;
//    border-radius: 2rem;
//    white-space: nowrap;
// }

.btn-round {
   position: relative;
   display: inline-flex;
   flex: 0 0 40px;
   width: 40px;
   height: 40px;
   font-size: 20px;
   border-radius: 50%;
   background-color: #ffffff;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
   text-decoration: none;
   cursor: pointer;
   transition: All 0.3s ease 0s;
   & img {
      display: block;
   }
   &:hover {
      box-shadow: 0px 3px 16px rgba(76, 81, 204, 0.3);
   }

   &-lg {
      flex: 0 0 48px;
      width: 48px;
      height: 48px;
      color: #ffffff;
      background-color: #b8b8b8;

   }

   &-sm {
      flex: 0 0 32px;
      width: 32px;
      height: 32px;
      font-size: 1rem;
      color: $primary-color;
      &:hover {
         transform: rotate(90deg)
      }
   }

}

.btn-primary {
   background: $primary-color;
   color: #ffffff;
}


.btn-rect {
   display: inline-flex;
   flex: 0 0 40px;
   height: 40px;
   border-radius: 8px;
   background-color: #ffffff;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
   & img {
      display: block;
   }
}

.btn-burger {
   z-index: 5;
   position: absolute;
   top: 24px;
   left: 24px;
   display: inline-flex;
   width: 48px;
   height: 48px;
   border-radius: 8px;
   font-size: 22px;
   color: $primary-color;
   background-color: #ffffff;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.05);
   transition: All 0.3s ease 0s;
   cursor: pointer;
   &:hover {
      box-shadow: 0px 3px 16px rgba(76, 81, 204, 0.15);
   }
}

.btn-info {
   position: relative;
}

.btn-icon--upload {
   display: inline-block;
   position: relative;
   width: 20px;
   height: 20px;
   margin-right: 8px;
}
.btn-icon--upload:before {
   position: absolute;
   top: 4px;
   left: 0;
   content: '';
   width: 20px;
   height: 20px;
   background: url(../img/svg/upload-ico.svg) center no-repeat;
}

.badge {
   position: absolute;
   top: 0;
   left: 24px;
   font-size: 0.75rem;
   line-height: 1rem;
   color: #ffffff;
   background: red;
   padding: 0 4px;
   border-radius: 0.5rem;
}
