//Sing-in
.signin {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #F5F6FF url(../img/svg/waves.svg) no-repeat center 100%;
   height: 100%;
   &__dialog {
      width: 509px;
      background: #ffffff;
      border-radius: 20px;
      text-align: center;
      padding: 64px;
   }
   &__title {
      color: $title-color;
      font-size: 24px;
      line-height: 32px;
   }
   & .f-control {
      width: 300px;
      background-color: #f6f6f6;
   }
   &__btn {
      display: block;
      margin: 0 auto 2.5rem auto;
   }
   &__reg {
      display: block;
      color: $title-color;
      text-decoration: none;
      margin-bottom: 24px;
   }
   &__text {
      display: block;
      color: #adadad;
      text-decoration: none;
   }
}